<launch>
    <arg name="rviz" default="true"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" value="pointcloud"/>
        <arg name="clip_distance" value="1.5" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_input)/config/pointcloud_view.rviz" if="$(arg rviz)"/>
</launch>
