<launch>

    <arg name="use_rviz" default="true" doc="launches rviz"/>
    <arg name="clip" default="2" doc="clipping distance for realsense [m]" />

    <!-- launch camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" value="pointcloud"/>
        <arg name="clip_distance" value="$(arg clip)" />
    </include>

    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find reconstruct)/config/pointcloud_view.rviz" if="$(arg use_rviz)"/>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/color/points" />
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.01
            filter_limit_max: 1.5
            filter_limit_negative: False
            leaf_size: 0.01
        </rosparam>
    </node>

    <!-- iterative closest point -->
    <node name="scanner" pkg="reconstruct" type="reconstruct_scanner"/>

</launch>